# Root
node_modules/
package-lock.json

# Client
client/node_modules/
client/dist/
client/.env

# Server
server/node_modules/
server/.env
server/uploads/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*